
<div class="row">
  <div *ngIf="garden$ | async as garden" class="col-6 offset-3">
    <form #pForm="ngForm" (ngSubmit)="onSubmit(pForm, garden)">
      <input name="_id" type="hidden" [(ngModel)]="garden._id">
      <div class="form-group">
        <label>Owner</label>
        <input
          [(ngModel)]="garden.user"
          name="user"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.user?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Plant list</label>
        <input
          [(ngModel)]="garden.garden"
          name="garden"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.garden?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Notes</label>
        <input
          [(ngModel)]="garden.note"
          name="note"
          type="text"
          class="form-control"
          >

      <button type="submit" [disabled]="pForm.invalid" class="btn btn-block btn-primary">
        <i class="fas fa-save"></i>
      </button>

  </div>


