<div class="container-fluid px-4">
  <h1 class="mt-4">Ideas</h1>
  <div>
    <button type="button" routerLink="/sampleHortus/create" class="btn btn-success btn-lg btn-block">Add new sample garden</button>
  </div>
  <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Some ideas for bed planning
    </div>

    <app-data-table
    [tableColumns]="tableColumns"
    [list$]="list$"
    (selectOne)="onSelectOne($event)"
    (deleteOne)="onDeleteOne($event)"
    >
  </app-data-table>

</div>
</div>
