
<div class="row">
  <div *ngIf="plant$ | async as plant" class="col-6 offset-3">
    <form #pForm="ngForm" (ngSubmit)="onSubmit(pForm, plant)">
      <input name="_id" type="hidden" [(ngModel)]="plant._id">
      <div class="form-group">
        <label>Name</label>
        <input
          [(ngModel)]="plant.name"
          name="name"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.name?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Latin Name</label>
        <input
          [(ngModel)]="plant.latinName"
          name="latinName"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.latinName?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Colour</label>
        <input
          [(ngModel)]="plant.colour"
          name="colour"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.colour?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Water Deamnd</label>
        <input
          [(ngModel)]="plant.waterDemand"
          name="waterDemand"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.waterDemand?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Ligth Demand</label>
        <input
          [(ngModel)]="plant.lightDemand"
          name="lightDemand"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.lightDemand?.valid" class="error-message">
          Wrong data!
        </div>
      </div>
      <div class="form-group">
        <label>Soil</label>
        <input
          [(ngModel)]="plant.soilDemand"
          name="soilDemand"
          type="text"
          class="form-control"
          required
          >
        <div [hidden]="pForm.controls?.soilDemand?.valid" class="error-message">
          Wrong data!
        </div>
      </div>

    <div class="form-group">
      <label>Blooming</label>
      <input
        [(ngModel)]="plant.blooming"
        name="blooming"
        type="text"
        class="form-control"
        required
       >
      <div [hidden]="pForm.controls?.blooming?.valid" class="error-message">
        Wrong data!
      </div>
    </div>

  <div class="form-group">
    <label>Lifespan</label>
    <input
      [(ngModel)]="plant.lifeCycles"
      name="lifeCycles"
      type="text"
      class="form-control"
      required
      >
    <div [hidden]="pForm.controls?.lifeCycles?.valid" class="error-message">
      Wrong data!
    </div>
  </div>

  <div class="form-group">
    <label>Type</label>
    <input
      [(ngModel)]="plant.type"
      name="type"
      type="text"
      class="form-control"
      required
      >
    <div [hidden]="pForm.controls?.type?.valid" class="error-message">
      Wrong data!
    </div>
  </div>

  <div class="form-group">
    <label>Toxic</label>
    <input
      [(ngModel)]="plant.toxic"
      name="toxic"
      type="text"
      class="form-control"
      required
      >
    <div [hidden]="pForm.controls?.toxic?.valid" class="error-message">
      Wrong data!
    </div>
  </div>

  <div class="form-group">
    <label>Evergreen</label>
    <input
      [(ngModel)]="plant.evergreen"
      name="evergreen"
      type="text"
      class="form-control"
      required
      >
    <div [hidden]="pForm.controls?.evergreen?.valid" class="error-message">
      Wrong data!
    </div>
  </div>

  <div class="form-group">
    <label>Link</label>
    <input
      [(ngModel)]="plant.url"
      name="url"
      type="text"
      class="form-control"
      required
      >
    <div [hidden]="pForm.controls?.name?.valid" class="error-message">
      Wrong data!
    </div>
  </div>

      <button type="submit" [disabled]="pForm.invalid" class="btn btn-block btn-primary">
        <i class="fas fa-save"></i>
      </button>
    </form>
  </div>
</div>
